<!DOCTYPE html>
<html>
<head>
  <title>Cheesecake: Keep Track of your Recipes</title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="index" class="home">
  <%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
